body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  background-color: #ffffff;
}

.bodyContent{
height: 100%;
    min-height: 100%;
}

a {
    text-decoration: none;
    color: #F60;
}

h1 {
  font-size: 40px;
  line-height: 36px;
    color: #09F;
}

h2 {
  font-size: 24px;
  line-height: 36px;

}

h3 {
    padding-top:28px;
    font-size: 20px;
    line-height:10px;
    color: #000;
}

ul{
    margin-top: -12px;
}

pre.code {
    text-shadow: 0px 1px 1px white;
    background: #EEF8FF;
    border: 1px solid #D8DFEA;
    color: #000;
    font-family: "Courier New", Courier, monospace;
    padding: 5px;
    word-wrap: break-word;
}

/* -------------------------------------------------------------- 
 *    table styling
 *    -------------------------------------------------------------- */


table, td, th {
    border-collapse: collapse;
    padding:4px;
    border: 1px solid #D8DFEA;}
th {
    background: #EEF8FF;
    text-align: left;
    font-size: 14px;

}
table tr td:first-child {
   font-family: courier, courier new, monospace;
   font-weight: bold;
}
/* -------------------------------------------------------------- 
 *    end table styling
 *    -------------------------------------------------------------- */

#content {
    padding: 0 3em 1em 3em;
    max-width: 768px;
    margin-left: auto ;
    margin-right: auto ;
}

.global-footer {
/*    position:absolute;
    bottom:0;*/
    height:60px;   /* Height of the footer */
    border-top: 1px solid #E5E5E5;
    font-size: 12px;
    line-height: 3;
    margin-top: 26px;
    width:768px;
padding-top:5px;
}

.global-footer a {
    color: #888;
}

.global-footer .branding img{
    width: 45px;
    float: right;
    padding: 0 0 0 5px;
}

.global-footer .branding {
    float: right;
}

/*.global-footer .branding img {
 *     float: right;
 *         padding: 0 0 0 5px;
 *             width: 45px;
 *             }*/

.footer-elements {
    float: left;
}

